#main-footer {
    padding: 10px;
    background: #0D1B30 !important;
    color: #fff;
  
    .footer_text {
      text-align: center;
      font-size: 17px;
    }
  
    .footer_icons {
      text-align: center;
      display: block;
      padding: 4px;
      span{
        margin: 0px 15px;
      }
    }
  }