.detailsPopup{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
span.labHead {
    color: #278cfd;
    font-size: 16px;
    display: inline-block;
}
.deatilsHeadSec{
    position: relative;
    padding: 5px;
    text-align: center;
}
.msg1{
    font-size: 15px;
    margin-left: 20px;
}
span.detailsCloseBtn{
    img {
        color: #eb3c00;
        font-size: 12px;
        position: absolute;
        cursor: pointer;
        right: 0px;
        top: calc(50% - 10px);
    }
}

.messageSection{
    border-bottom: 1px solid #d2d2d2;
    color:#434a54;
}
.detailsContent{
    padding: 15px;
    margin: 5px 10px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 13px;
    max-width:650px;
    max-height:145px;
    padding-top: 0;
}
.SubMessageLoop{
    padding: 5px;
}
.detailsInfo{
    margin-top: 20px;
    display: flex;
    width: 100%;
    clear: left;
    vertical-align: middle;
    justify-content: left;
    align-items: center;
}
.detailsKey{
    color: #000;
    min-width: 25%;
    float: left;
}
.detailsValue{
    margin-left: 40px;
    font-weight: 200;
}