<div class="detailsPopup">
    <div class="deatilsHeadSec">
        <span class="labHead">Project Details</span>
        <span class="detailsCloseBtn" (click)="closePopup()">
            <img height="20" width="20" src="../../assets/close.png" alt="close">
        </span>
    </div>
    <div class="messageSection"></div>
    <ng-container *ngFor="let about of skillsData?.SKILLS_DETAILS">
        <div class="detailsContent" *ngIf="isFrom == about.TITLE">
            <div class="SubMessageLoop">
                <div class="detailsInfo">
                    <span tabindex="0" class="detailsKey">Title</span>
                    <span tabindex="0" class="detailsValue">{{about.TITLE}}</span>
                </div>
                <div class="detailsInfo">
                    <span tabindex="0" class="detailsKey">Description</span>
                    <span tabindex="0" class="detailsValue">{{about.DESCRIPTION}}</span>
                </div>
                <div class="detailsInfo">
                    <span tabindex="0" class="detailsKey">Technologies Used</span>
                    <span tabindex="0" class="detailsValue">{{about.TECHNLOGIES_USED}}</span>
                </div>
                <div class="detailsInfo">
                    <span tabindex="0" class="detailsKey">Plugins Used</span>
                    <span tabindex="0" class="detailsValue">{{about.PLUGINS_USED}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    
</div>