<div class="mainContent row">
    <div class="col-md-9">
        <h1 class="title">Welcome</h1>
        <p align="justify">
            My name is Rohith,I'm a front end based developer based in Coimbatore, TamilNadu, India. I have developed
            many types of front ends well known Exterro review, Smart Breach review related to the E-discovery
            platforms.

            I'm passionate about cutting-edge, pixel-perfect, beautiful interface and intuitively implemented UX.</p>
    </div>
    <div class="col-md-3">
        <span class="imgSec">
            <img src="../../assets/Rohi.jpeg" height="300" alt="Rohi">
        </span>
    </div>
</div>