.mainContent {
    background-image: url("../../assets/back.jpg");
    background-color: #cccccc;
    width: calc(100% + 12px);
    padding: 92px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.imgSec {
    img {
        border-radius: 60%;
    }
    img:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.title {
    color: bisque;
    animation-name: shake;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

  @keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
  }
@media (max-width: 600px) {
    .mainContent {
        padding: 50px;
    }

    .imgSec {
        display: block;
        text-align: center;
    }
}